@media (max-width: 426px) {
    .nav{
        grid-template-columns: 100%;
    }
    .informacionDiaria{
        grid-template-columns: 100%;
        }
    .secciones{
        grid-template-columns: 100%;
        }
    .contenedor {
        grid-template-columns: 100%;
        }
}