@media (max-width: 768px) {
    header{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        }
    .galeria{
        grid-template-columns: repeat(2,50%);
        grid-template-areas:
        "item1"
        "item2";
        }
    .notas{
        grid-template-columns: 100%;
        } 
    }